

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: auto;
    position: absolute;
    top: 35.5%;
    left: 52%;
    margin: -70px 0 0 -170px;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto; 
    border: 10px;
    height: 90vh;
    max-width: 700vh;
    margin: auto;
    
    
}