

 body, html {    
	 height: 100%;
	 margin: 0%;
	 padding: 0%;
	 min-width: 400px;
 }

.flex-page {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.nav_bar {
	display: flex;
    width: 100%;
    align-items: flex-end;
    flex-direction: column;
    padding: 6px;
    height: 60px;
    box-sizing: border-box;
}

.nav-item{
	display: flex;
	padding-left: 32px;
	height:48px;
	font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
}
.icons {
	display: flex;
	padding: 0 4px;
		padding-left: 32px;
	align-items: center; 


}
.mail-images {
	display: flex;
	padding-top: 5px;
	padding-right: 15px;
	font-family: Arial, sans-serif;
}
.mail {
	display: flex;
	padding-right: 15px;
}

.images {
	display: flex;
	padding-right: 6px;
}
.grid-account {
	display: flex;
	align-items: flex-end;	
	padding: 4px;
}

.grid {
	display: flex;
	padding: 6px;
}


.account {
	display: block;
    padding: 0 10px;
}

.photo {
	display: block;
	border-radius: 50%;
}
  
   .logo_search {
    display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	justify-content: center;
}
   .logo {
	display: flex;
	flex-direction: column;
	min-height: 92px;
	align-items: center;
	padding-top:  165px;
}
.searchbox {
    display: flex;
	justify-content: center;
	/* padding: 24px; */
	height: 160px;
	flex-direction: column;
	align-items: center;
	
}


.search-bar {
	width: 584px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 44px;
	border: 1px solid #dfe1e5;
	border-radius: 24px;
}

.mag-glass {
	display: flex;
	align-items: center;
	padding-right: 10px;
	opacity: 0.3;
}
#input {
	width: 527px;
	height: 34px;
	border: none;
}

.buttons {
	display: flex;
    justify-content: center;
    padding-top: 18px;
    text-align: center;
    height: 70px;
    width: 584px;
}
.google-search {
	background-color: #f8f9fa;
	border: 1px solid #f8f9fa;
	margin: 11px 14px;
	cursor: pointer;
	border-radius: 4px;
	padding: 0 16px;
	height: 36px;
}
.google-search:hover {
	border: 1px solid rgb(168, 163, 163);
}


a {
	color: #70757a;
	text-decoration: none;
	font-size: 14px;
	font-family: arial,sans-serif
	;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}
.footer {
	display: flex;
	background-color: #f2f2f2;
	bottom: 0;
	width: 100%;
	height: 60px;
	position: absolute;
	
}
.nav-bottom {
	display: flex;
    width: 100%;
    padding: 0 20px;
	align-items: center;
	justify-content: space-between;
	bottom: 0;
	
}



